#matrix {
	background: #8a9098; /* Цвет фона */
	border: 4px solid #0417ff;
}

.cell {
	border: 1px solid #252525;
}

.cell-begin {
	background: #24ff4e; /* Цвет фона клетки под курсором */
}

.cell-end {
	background: #ff0104; /* Цвет фона клетки под курсором */
}

.snake {
	background: #ff8d07; /* Цвет фона клетки под курсором */
}

.snake-grow {
	background: #00ffe6; /* Цвет фона клетки под курсором */
}

.snake-victory-1 {
	background: #396a31; /* Цвет фона клетки под курсором */
}
.snake-victory-2 {
	background: #464e9b; /* Цвет фона клетки под курсором */
}


