#matrix {
	background: #509846; /* Цвет фона */
	border: 4px solid #0417ff;
}

.cell {
	border: 0px solid #252525;
}
.cell-begin {
	background: #24ff4e; /* Цвет фона клетки под курсором */
}
.cell-end {
	background: #ff0104; /* Цвет фона клетки под курсором */
}

.snake-head{
	background: url("/img/snakeHead.png") no-repeat;
	background-size: 100%;
}
.snake-body {
	background: url("/img/snakeBody.png") no-repeat;
	background-size: 100%;
}
.snake-neck {
	background: url("/img/snakeNeck.png") no-repeat;
	background-size: 100%;
}

.snake-tr-h{
	transform: scale(-1, 1);
	background-position: left center;
}
.snake-tr-v{
	transform: scale(1, -1);
	background-position: left center;
}
.snake-tr-r0{
	transform: rotate(0deg);
	background-position: right center;
}
.snake-tr-r90{
	transform: rotate(90deg);
	background-position: center center ;
}

.snake-tr-r180{
	transform: rotate(180deg);
	background-position: center center ;
}

.snake-tr-r270{
	transform: rotate(270deg);
	background-position: center center ;
}

.snake-grow {
	background-image: url("/img/mause.png");
	background-size: 100%;
}

.snake-victory-1 {
	background: #396a31; /* Цвет фона клетки под курсором */
}
.snake-victory-2 {
	background: #464e9b; /* Цвет фона клетки под курсором */
}


.snake {
	background-image: url("/img/snake.png");
	background-size: 100%;
}